<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <title> WaterMonitor Home </title>
</head>
<body>
   <div>
       <h1> <a href=""> Welcome at Manyire Network Site</a></h1>
   </div>

   <div>
   	<p>Published: 12.09.2017, 19.57 </p>
   	<h2> <a href=""> Primary Canal </a></h2>
   	<p>
   		nnvitnnn'knfa'nsfnt\]tnnklnfknfknka'nnvniranknvnva'lknv
   		vkvnnvoaniondknvkldnvlknvlknskanakndvkdsnvirnnnvnalknvkdvnv
   	</p>
   </div>

   <div>
   	<p>Published: 12.09.2017, 20.00</p>
   	<h2><a href="">Secondary Canal</a> </h2>
   	<p> hnvnlnkdnalkdnvlnviro'qbvb;ab;vjbvdaobvobabvsvburbv
   	jksbvvfh;fnrinoenir;lknfdldsknfsldkfn cklkafoiqiofinnkdnkfhg
   	ngkrnr'qinvnfnfna'ndnfnfirnnvinv'irnngngnhth'oq'pinvknf'a'fkvn</p>

   </div>




</body>
</html>